@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Centre for Development of Advanced Computing (C-DAC) is the premier R&D organization of the Ministry 
    of Electronics and Information Technology (MeitY) for carrying out R&D in IT, Electronics and associated areas. 
    Different areas of C-DAC, had originated at different times, many of which came out as a result of identification
    of opportunities.</p>
