@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Centre for Development of Advanced Computing
    Pune University Campus, Ganesh Khind
    Pune - 411 007
    Maharashtra (India)
    Phone:+91-20-2570-4100, Fax: +91-20-2569 4004
</address>

